<p id="notice"><%= notice %></p>


<div class="hero">
  <div class="new_draft">
    <div><%= link_to 'Draft Now', new_league_path %></div>
  </div>
</div>
<div class="index_copy">
  <div class="view_players">
    <h2>Find the Best Players</h2>
    <div class="player_div">
      <div class="new_draft">
        <div><%= link_to 'Research Players', players_path %></div>
      </div>
    </div>
    <ul>
      <li>Research your favorite players.</li>
      <li>Plan your draft strategy.</li>
      <li>Get an edge on your competition</li>
    </ul>
  </div>
  <div class="draft_now">
    <h2>Draft the Perfect Team</h2>
    <div class="new_draft">
      <div><%= link_to 'Draft Now', new_league_path %></div>
    </div>
    <ul>
      <li>Complete mock drafts in minutes with no waiting between picks.</li>
      <li>Mock with custom settings including keepers, scoring rules & roster positions.</li>
      <li>Quickly test different draft strategies to see what works best.</li>
    </ul>
  </div>
</div>
