/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 10px;
}

.nav_bar {
  list-style-type: none;
  margin: 0 auto;
  margin-right: 5%;
  padding: 0;
  margin-bottom: 10px;
  overflow: visible;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav_bar li {
  float: left;
}

.nav_bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_bar li a {
  background-color: #4CAF50;
}
.draft_board {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  list-style-type: none;
}
.teams {
  width: 25%;
}

.picked_players {
  font-size: 10px;
}

.all_players {
  width: 25%
}

.all_players li {
  font-size: 10px;
}

.players_by_pos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.players_by_pos li {
  font-size: 10px;
}
